body {
	font-size: 30px;
	background: beige;
	font-family: BodoniSvtyTwoSCITCTT-Book;
}

/*the table is used in the survey page. There are different styles for the data and headers.*/
table {
	border: solid;
	margin: 40px;
}

td {
	border: dashed;
}

th {
	border: dotted;
}

h1 {
	background-color: burlywood;
	margin: 0;
	padding: 20px;
	text-align: center;
	margin: 20px;
	padding: 20px;
	border-style: dotted;
	border-width: 7px;
	border-radius: 40px;
	color: #331a00;
}

h2 {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 35px;
	padding: 0;
}
/*the buttons on the main page are actually in a list, and the style/hover function is shown below*/
li a {
	display: block;
	text-decoration: none;
	color: burlywood;
}

li a:hover {
	color: beige;
}

li {
	margin: 0;
	padding: 10px;
	background-color: beige;
	font-size: 24px;
}

li:hover {
	background-color: beige;
}

/*these make the photos show in even columns*/
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 20px;
}